<!DOCTYPE html>
<html lang="vi">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/redirect?Id=bPkSKQqMZ9erlLi6p21Q4A%3d%3d" static "bootstrap-4.5.0-dist/bootstrap-4.5.0-dist/css/bootstrap.min.css" %}' type="text/css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    Nội dung
    {% block content %}

    {% endblock %}
    <ul class="nav flex-column">
        <li><a href="/redirect?Id=ockOPgmf%2bYcKOZ%2bjTTUlZHvO8ZR7NgpHNjdzDYB9hhE%3d" tin cá nhân</a></li>
        <li><a href="/redirect?Id=bPkSKQqMZ9erlLi6p21Q4A%3d%3d" url 'blog' %}">Bài viết</a></li>
        <li><a href="/redirect?Id=bPkSKQqMZ9erlLi6p21Q4A%3d%3d" url 'contact' %}">Liên hệ</a></li>
    </ul>
</body>
</html>
